.section {
  padding-top: 60px;

  text-align: center;

  min-height: 400px;

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../images/bg_640.jpg");
  background-position: center;
  background-repeat: no-repeat;

  background-color: rgba(0, 0, 0, 0.4);

  color: #fff;
}

.wrapper {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.subTitle,
.btn {
  font-family: "Indie Flower", cursive;
}

.title {
  font-family: "Lobster Two", cursive;
  word-wrap: normal;
  overflow-wrap: normal;
}

@media screen and (min-width: 640px) {
  .section {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../../images/bg_1024.jpg");
    min-height: 500px;
  }
}
